.canvas-area {
    position: relative;
    .close {
        position: absolute;
        top:0;
        right: 0;
        cursor:pointer;
    }
    .canvas-meme {
        // float: left;
    }
    .tools-editor {
        // float: right;
        margin:auto;
    }
    .style-icons {
        padding: 5px;
        background: lightgray;
        margin:0 0 3px 5px;
    }
    .shadow-tools, .text-input-area {
        clear: both;
        margin: 5px;
        border: 1px solid darkgray;
        padding: 5px;
        text-align: center
    }
}
.canvas-wrapper {
    border:1px solid;
    box-shadow: 0 0 5px gray;
    padding: 5px;
}