.team {
  width: 100%;
  margin-top: 50px;
  padding: 40px;
  background-color: #2eb398;

  .team-content {
    width: 820px;

    .team-hex {
      border-left: 1px solid #219d84;
      padding: 10px 0 10px 20px;
    }

    .team-about {
      margin-left: 20px;
      padding-right: 20px;
      border-right: 1px solid #219d84;

      h4 {
        margin: 15px 0 8px 0;
        padding: 0;
        color: #d7fcf5;
        font-family: var(--secondary-font), sans-serif;
        font-weight: 400;
        font-size: 30px;
      }

      h5 {
        margin: 0 0 20px 0;
        padding: 0;
        color: #20816d;
        font-family: "Maven Pro Regular", sans-serif;
        font-size: 18px;
        font-weight: 400;
      }

      p {
        margin-bottom: 20px;
        padding: 0;
        color: #d7fcf5;
        text-align: justify;
        font-family: Lato, sans-serif;
        font-size: 12px;
        letter-spacing: .1em;
        line-height: 1.4em;
      }

      .logos {
        li {
          text-align: center;

          &:nth-child(1) {
            background-color: #3360a1;
          }

          &:nth-child(2) {
            background-color: #29abe2;
          }

          &:nth-child(3) {
            background-color: #dd5341;
          }

          &:nth-child(4) {
            background-color: #cc1b22;
          }

          &:nth-child(5) {
            background-color: #026c9c;
          }

          &:nth-child(6) {
            background-color: #f15690;
          }
        }


          a {
            width: 24px;
            height: 24px;
            line-height: 24px;
            color: #fff;

          }
        }

      }
    }
}
